{% extends "base.html" %}

{% block title %}
Вход
{% endblock %}

{% block content %}
               <style>
    .my-form li {
        margin-bottom: 10px;
    }
    .my-form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .my-form input[type="text"], .my-form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .my-form button[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }
    .my-form button[type="submit"]:hover {
        background-color: #3e8e41;
    }
    .error {
        color: red;
    }
</style>

<form method="post">
    {% csrf_token %}
    <ul class="my-form">
        {% for field in form %}
        <li>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="error">{{ field.errors|join:", " }}</div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-primary" id="sendMessageButton">Регистрация</button>
</form>
{% endblock %}