{% extends "base.html" %}
{% load str_extensions %}
{% block title %}
Список товаров
{% endblock %}

{% block content %}

<ul>
        {% if user.is_authenticated %}
        <hr>
        {% else %}
            <h2 class="post-title">
        <a href ="{% url 'users:register' %}">
            Зарегистрируйся, войди и создай свой список товаров для запроса
        </a>
            </h2>
        <hr>
        <hr>
        {% endif %}

    {% for item in object_list %}
    <li>
        <h2 class="post-title">
        <a href   ="{% url 'blog:good_detail' pk=item.pk %}">
         {% if item.good_count > 0 %}
            {{item.name}}
         {% else %}
            {{item.name | del_word | safe}}
         {% endif %}


        </a>
         </h2>
        {% if user.is_authenticated %}
        /

        <a href ="{% url 'blog:good_update' pk=item.pk %}">
            Изменить
        </a>
                /
        <a href ="{% url 'blog:good_delete' pk=item.pk %}">
            Удалить
        </a>
        {% endif %}
    </li>

    {% endfor %}
         {% if user.is_authenticated %}
        <h2 class="post-title">
        <a href ="{% url 'blog:good_create' %}">
            Создать
        </a>
         </h2>
        {% endif %}
</ul>
{% endblock %}