{% extends "base.html" %}
{% load str_extensions %}
{% block title %}
Список тегов
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 mx-auto">
        {% with all_tags=merch %}
        <table class="table">
            <tbody>
                <tr>
                    <td><img src="{{all_tags.0.imageUrl}}" width="200"></td>
                    <td><img src="{{all_tags.1.imageUrl}}" width="200"></td>
                    <td><img src="{{all_tags.2.imageUrl}}" width="200"></td>
                    <td><img src="{{all_tags.3.imageUrl}}" width="200"></td>
                    <td><img src="{{all_tags.4.imageUrl}}" width="200"></td>
                    <td><img src="{{all_tags.5.imageUrl}}" width="200"></td>
                </tr>
            </tbody>
        </div>
        <table class="table">
            <tbody>
             {% for tag in all_tags %}
                <tr>
                    <td>{{tag.discount}} % скидка</td>
                    <td><img src="{{tag.imageUrl}}" width="200"></td>
                    <td>{{tag.name}} </td>
                </tr>
              {% endfor %}
            </tbody>
        </div>
        {% endwith %}
    </div>
</div>
{% endblock %}