{% extends "base.html" %}

{% block title %}
{{merch.name}}
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
                <h3 class="post-subtitle">
                    {{ merch.name }}
                </h3>
 <img src="{{merch.imageUrl}}" width="300">
                <h3 class="post-subtitle">
                    Скидка: {{ merch.discount }} %
                </h3>
                <h3 class="post-subtitle">
                    {{ merch.priceAfter }} руб. ({{ merch.priceBefore }} руб.)
                </h3>
    </div>
</div>
{% endblock %}