


{% extends "base.html" %}

{% block title %}
  Главная
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
                 <h3 class="post-title">
                  {{ merch.name }}:
                </h3>

        <div class="post-preview">
            <a > <img src="{{merch.imageUrl}}" width="300">
                <h3 class="post-subtitle">
                   {{ merch.priceAfter }} руб. ({{ merch.priceBefore }} руб.)
                </h3>
            </a>
            <p class="post-meta">Скидка: {{ merch.discount }} %
                <a href="#">Магазин: {{ merch.market_name }}</a>
               </p>
        </div>
        <hr>

        <!-- Pager -->
    </div>
</div>
{% endblock %}