{% extends "base.html" %}

{% block title %}
{{merch.name}}
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
                <h3 class="post-subtitle">
        "{{ merch.name }}" - этот товар ищут пользователи:
        {% if merch.users.count > 0 %}
        <ul>
          {% for related_object in merch.users.all %}
            <h3 class="post-subtitle">
            <li>{{ related_object.username }} <i>{{ related_object.email}}</i></li>
            </h3>
          {% endfor %}

        </ul>
      {% else %}
        <p>No related objects.</p>
      {% endif %}

    </div>
</div>
{% endblock %}